venv/
data/
__pycache__/
*.pyc
.env
.env.local
.env.production
.env*.local
node_modules/
dist/
.vercel/
.superpowers/
.vercel
.docs/superpowers
docs/superpowers/specs/2026-03-23-virustotal-integration-research.md
.gitignore
